{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "adminoverwrite/css/dashboard.css" %}">
<style >
  th {
  cursor: pointer;
}

@media only screen and (max-width:580px){
.nav-btn {
width:100vw;
background-color: #008753;
height:10vh;
}
.hidelogo{
display:none !important;
}
.smallscreen{
  display:block;
}
}
.nav-btn div{
width:18vw;
background-color: #fff;
height:80%;
float: right;
margin: 2%;
border-radius: 5px;

}

@media only screen and (max-width:580px){
.nav-btn div > span{
height: 0.5vh;
  width: 70%;
  background-color: #008753;
  display: block;
  border-radius: 1px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}
#header{
  display:none;
}
}
</style>
{% endblock %}

{% block coltype %}{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block sidebar2 %}
<div class="nav-btn">
  <div class="">
    <span style="transform: matrix(1, 0, 0, 1, 0, 0);"></span>
      <span style="transform: matrix(1, 0, 0, 1, 0, 0);"></span>
      <span style="transform: matrix(1, 0, 0, 1, 0, 0);"></span>
  </div>
</div>
<div class="sidebar">
  <nav>
    <a class ="hidelogo" href="/"><img src="/static/accounts/images/logo3.png" alt=""></a>
    <div class="tab">
    <ul>
      <li class="tablinks active"><i class="fa fa-fw fa-dashboard"></i><a href="#overview">Dashboard</a></li>
      <li class="tablinks"><i class="fa fa-fw fa-users"></i><a href="#members" >Members</a></li>
      <li class="tablinks"><i class="fa fa-fw fa-money-bill-wave-alt"></i><a  href="#payments">Payments</a></li>
      <li class="tablinks"><i class="fa fa-fw fa-user-friends"></i><a  href="#referrals">Referrals</a></li>
      <li class="tablinks"><i class="fa fa-fw fa-comments"></i><a  href="#chats">Chats</a></li>
      <li class="tablinks"><i class="fa fa-fw fa-newspaper"></i><a  href="#news">News</a></li>
      <li class="tablinks smallscreen"><i class="fa fa-fw fa-street-view"></i><a  href="{{ site_url }}">View Site</a></li>
      <li class="tablinks smallscreen"><i class="fa fa-fw fa-key"></i><a  href="{% url 'admin:password_change' %}">Change Password</a></li>
      <li class="tablinks smallscreen"><i class="fa fa-fw fa-sign-out-alt"></i><a  href="{% url 'admin:logout' %}">Log Out</a></li>
    </ul>
  </div>
  </nav>
</div>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div class="tab-pane2" id="overview">
<div class="row1">
<div class="col60 ">
        <div class="card-header">
           Membership Registration
        </div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" >
             <p>There was an error in displaying chart</p>
          </canvas>
        </div>
</div>
      <div class="col30 ">
        <div class="card-header">
           Latest Members
        </div>
        <div class="card-body">
          <table style="width:100%;margin-top: 8%;">
            <thead>
              <th> </th><th>Name</th><th>Phone</th>
            </thead>
            <tbody>
               {% for member in top5new %}
                <tr>
                  <td>{{forloop.counter}}</td><td>{{member.first_name}} {{member.last_name}}</td><td>{{member.phone_number}}</td>
                </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>
<div class="row2">
  <div class="col60">
      <div class="col30 statisticscard">
         <i class="fa fa-fw fa-users"></i>
         <h1>{{allmemberscount}}</h1>
         <p>Members</p>
      </div>
      <div class="col30 statisticscard">
        <i class="fa fa-fw fa-money-bill-wave-alt"></i>
        <h1>0</h1>
        <p>Donations</p>
      </div>
      <div class="col30 statisticscard">
        <i class="fa fa-fw fa-user-friends"></i>
        <h1>{{hitlistcount}}</h1>
        <p>Referrals</p>
      </div>

  </div>
  <div class="col30 ">
    <div class="card-header">
       Latest Donations
    </div>
    <div class="card-body">
      <table style="width:100%;margin-top: 8%;">
        <thead>
          <th> </th><th>Name</th><th>Amount</th>
        </thead>
        <tbody>
           {% for member in top5new %}
            <tr>
              <td>{{forloop.counter}}</td><td>{{member.first_name}} {{member.last_name}}</td><td>5,000.00</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row3">
  <div class="col60">
      <div class="col30 statisticscard">
         <i class="fa fa-fw fa-users"></i>
         <h1>{{allmemberscount}}</h1>
         <p>Members</p>
      </div>
      <div class="col30 statisticscard">
        <i class="fa fa-fw fa-money-bill-wave-alt"></i>
        <h1>0</h1>
        <p>Donations</p>
      </div>
      <div class="col30 statisticscard">
        <i class="fa fa-fw fa-user-friends"></i>
        <h1>{{hitlistcount}}</h1>
        <p>Referrals</p>
      </div>
  </div>
</div>
</div>
<div class="tab-pane2" id="members">
<div class="row">
  <div class="" >
    <form class="membersearch my-2 my-lg-0 mr-lg-2">
                <div class="input-group" style="width: 30%;border: none;">
                  <input type="text"  placeholder="Search for...">
                  <span class="input-group-append">
                    <button class="" type="button">
                      <i class="fa fa-fw fa-search"></i>
                    </button>
                  </span>
                </div>
                <div class="col30" style="width: 30%;">
                  <label for="id_action" style="font-size: 18px;padding-right: 3%;">Action</label>
                  <select name="action" class="form-control" required="" id="id_action" style="width:70%">
                  <option value="" selected="">--Select--</option>
                  <option value="Send SMS">Send SMS</option>
                  <option value="Send Email">Send Email</option>

                </select>
              </div>
              <div class="col30" style="width: 30%;">
                <label for="id_action" style="font-size: 18px;padding-right: 3%;">Filter By</label>
                <select name="action" class="form-control" required="" id="id_action" style="width:70%">
                <option value="" selected="">--Select--</option>
                <option value="Send SMS">State Of Origin</option>
                <option value="Send Email">State Of Residence</option>
                <option value="Send Email">Country Of Residence</option>
                <option value="Gender">Gender</option>
              </select>

              </div>
    </form>
  </div>

</div>
<div class="rowfull">
  <div class="card-header">
     Members List
  </div>
  <div class="card-body" style="overflow-x:auto;">
    <table id="myTable2" style="width:100%;margin:auto;overflow:scroll">
      <thead>
        <th>
          <input type="checkbox" name="" value="">
        </th><th onclick="sortTable(0)">S/N</th><th onclick="sortTable(1)">First Name </th><th onclick="sortTable(2)">Middle Name</th><th onclick="sortTable(3)">Last Name</th><th onclick="sortTable(4)">Email</th><th>Phone</th><th>State Of Residence</th>
      </thead>
      <tbody>
         {% for member in top5new %}
          <tr><td><input type="checkbox" id="user_selection" name="" value=""></td>
            <td>{{forloop.counter}}</td><td>{{member.first_name}}</td><td> {{member.middle_name}}</td><td> {{member.last_name}}</td><td> {{member.email}}</td>
            <td>{{member.phone_number}}</td><td> {{member.state_of_residence}}</td>
          </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="tab-pane2" id="payments">
3
</div>
<div class="tab-pane2" id="referrals">
4
</div>
<div class="tab-pane2" id="chats">
5
</div>
<div class="tab-pane2" id="news">
6
</div>

{% endblock %}
