{% extends 'fds_app/base6.html' %}
{% load static %}
{% block style %}
body{
  background-color: #fff;
  background-image: url(static/fds_app/images/Vector.png), url(static/fds_app/images/Vector2.png);
  background-position: 100% 0%, 64% 19.5%;
  background-repeat: no-repeat, no-repeat;
  background-size: inherit;
}
p{
  font-size:16px;
}
.nav-item{
  padding-right:1%
}
.nav-link.active
{
      font-weight: 500;
      color: #fff;
      background-color: #12302e;
      margin-bottom: 0;
      margin-top: 10px;
      border-radius: 0;
  }

{% endblock %}
{% block links %}
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/whoweare">Who we are</a></li>
<li class="nav-item " style=" padding-left: 2%;"><a class="nav-link" href="/wherewestand">Where we stand </a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/takeaction">Take Action</a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/2023elections">2023 Elections</a></li>
<li class="nav-item " style="padding-left: 2%;padding-right: 0%; "><a class="nav-link" href="joiningpolitics">Joining Politics</a></li>

{% endblock %}
{% block title %}FSD{% endblock %}
{% block content %}
<div class="row " style="width: 100%;margin-right: 0%;">
<div class="col-sm-5" style="margin-top: 5%;left: 6%;">
    <h5 style="color:#8E8E8E; font-weight:400; ">Federal Social Democrats  </h5>
    <h1 style="font-weight: bold;font-weight: 700;font-size: 51.07px;color: #12302e;margin-top: 0px;">Together, we are building a Nigeria of our dreams</h1>
    <p>Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive change in the economic and social status of African youth through effective programs that delivers sustainable outcome.</p>
    <button type="button" class="btn btn-lg" style="margin-top:10%; margin-left:0%; font-size: 14px; font-weight: 500; line-height: 3; width:40%; border-radius:0;border-çolor:#12302e; background:#12302e;color:white;">Get involved</button>
    <div class="" style="width:75%">
      <div class="" style="color: #12302e;FONT-WEIGHT: bold;margin-left: 60%; margin-top: -12%;">
        <a href="#" style="font-size: 14px; color: #12302e;">Learn More &gt;&gt;</a>
      </div>
    </div>
  </div>
<div class="">

</div>
<div class="col-sm-6" style="margin-top: 1.5%;margin-bottom: -5%;margin-left: 7.5%;background:url('static/fds_app/images/Vector1.png') no-repeat;margin-right: 0%;background-size:contain;">
  <img style="width:100%;visibility:hidden;height: auto;" src="/static/fds_app/images/Vector1.png">
  </div>
</div>
<div class="" style="position:relative">
  <div class="" style="margin-top: -20%; width:100%">
    <div class="col-sm-11" style="margin-left: 6%;">
      <h4 style="line-height: 50.95px;color:#12302e;margin-top:25%;font-weight: 500;margin-left: 80%;font-size: 41.62px;">4,342,905
      <strong style="vertical-align: super;text-align: left;font-size: 50px;">+</strong></h4>
      <h4 style="line-height: 21.74px;color:#12302e;margin-left:80%;font-weight:400px;font-size: 15px;">signed up and still counting</h4>
    </div>
</div>
  </div>

<div class="" style="position:relative">
  <div class="row container-fluid" style = "margin-top:8%;height:auto; margin-left: -15px;margin-right: -15px; width:101%; padding:0">
    <div class="col-sm-3" style="background:#12302e; height:100%;">
      <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">128</h4>
      <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Chairpersons</h4>
      <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>

    </div>
    <div class="col-sm-3" style="background:#fff; height:100%">
      <h4 style="color:#12302e; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">34</h4>
      <h4 style="color:#12302e; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Offices</h4>
      <p style="color:#12302e; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>

    </div>
    <div class="col-sm-3" style="height:100%; background: #3BB54A;">
      <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">203</h4>
      <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Activities</h4>
      <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>

    </div>
    <div class="col-sm-3" style="height:100%; background: #9E774F;">
      <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">36</h4>
      <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">States</h4>
      <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>

    </div>
  </div>
</div>
<div class="" style="position:relative">
  <div class="row " style="height:auto;margin-top: 6%;margin-right: 0;">
    <div class="col-sm-6" style="margin-left:6%;">
      <div style="left:0%;margin-top:11%;float:left;background:url('static/fds_app/images/Rectangle2.png') no-repeat;background-size:cover;">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle2.png">
      </div>
      <div style="margin-left:2.5%;float:left;background:url('static/fds_app/images/Rectangle3.png') no-repeat;background-size:cover;">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle3.png">
      </div>
      <div style="margin-left:27%;float:left;margin-top:-12%;background:url('static/fds_app/images/Rectangle5.png') no-repeat;background-size:cover;">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle5.png">
      </div>
      <div style="margin-left:2.5%;float:left;margin-top:-9%;background:url('static/fds_app/images/Rectangle4.png') no-repeat;background-size:cover;">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle4.png">
      </div>

    </div>
    <div class="col-sm-4" style="margin-left:0%;margin-top: 5%;padding-left: 0%;">
        <div>
          <h1 style="font-weight:bold; font-size:43.07px; color: #12302e;line-height:43.07px; margin-top: 0px;">What have we done with your help</h1>
          <ul style="list-style-position:outside;list-style-image: url('static/fds_app/images/bulletpoint.png');">
            <li>
              <p>Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive</p>
           </li>
            <li>
              <p>Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive</p>
                  </li>
          </ul>
          <button type="button" class="btn btn-lg" style="margin-top:10%; margin-left: 5%; font-size: 16px; font-weight: 500; line-height: 1.5; width:40%; border-radius:0;border-çolor:#12302e; background:#12302e;color:white;">Join Us</button>
          <div class="" style="width:75%">
            <div class="" style="color: #12302e;FONT-WEIGHT: bold;margin-left: 70%; margin-top: -12%;">
              <a href="#" style="font-size: 14px; color: #12302e;">Learn More &gt;</a>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

<div style="position:relative; margin-top:5%">
  <div class="row container-fluid" style="height:100%; width:100%">
      <div class="col-sm-4" style=" margin-left: 5%;" "="">
        <h4 style="color:#12302e;  font-weight:bold; font-size:14px;">News</h4>
        <h4 style="color:#12302e; font-weight:bold; font-size:43.07px;">Hear what the majority is saying</h4>
      </div>
      <div class="col-sm-1" style="">
      </div>
      <div class="col-sm-6" style="  margin-left: 1%;  padding-right: 0;">
        <div class="" style="margin-left:85%;">
          <a href="#" style="margin-right: 10%;color:#12302e;font-weight:bold;font-size:14px;line-height: 32.59px;">&lt;</a>
          <a href="#" style="color:#12302e;margin-left:30%;font-weight:bold;font-size:14px;line-height: 32.59px;">&gt;</a>
        </div>
      </div>
    </div>
</div>

<div style="position:relative; margin-top:5%">
  <div class="row " style="height:100%;width:91%;margin-left:6.3%;overflow: hidden;margin-right: 0;">
    <div class=" col-sm-3 myslides" style="margin-right: 1%;margin-left: 0%;padding-left: 0%;padding-right: 0%;">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle8.png">
      <h4 style="line-height: 18px;color:#12302e;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a href="#" style="font-size: 14px; margin-left:4%;color: #12302e;">Read More &gt;&gt;</a>
    </div>
    <div class="col-sm-3 myslides" style="margin-right: 0%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle9.png">
      <h4 style="line-height: 18px;color:#12302e;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a href="#" style="font-size: 14px; margin-left:4%;color: #12302e;">Read More &gt;&gt;</a>

    </div>
    <div class="col-sm-3 myslides" style="margin-right: 0%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle10.png">
      <h4 style="line-height: 18px;color:#12302e;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a href="#" style="font-size: 14px; margin-left:4%;color: #12302e;">Read More &gt;&gt;</a>

    </div>
    <div class="col-sm-3 myslides" style="margin-right: -1%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle11.png">
      <h4 style="line-height: 18px;color:#12302e;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a href="#" style="font-size: 14px; margin-left:4%;color: #12302e;">Read More &gt;&gt;</a>

    </div>
  </div>
</div>

{% endblock %}
