{% extends 'fds_app/base6.html' %}
{% load static %}
{% block style %}
body{
  background-color: #fff;
  background-image: url(static/fds_app/images/Vector.png), url(static/fds_app/images/Vector2.png);
  background-position: 100% 0%, 68% 180%;
  background-repeat: no-repeat, no-repeat;
  background-size: inherit;
  background-attachment: fixed;
  height: auto;
}
p{
  font-size:16px;
}
.nav-item{
  padding-right:1%
}
.nav-link.active
{
      font-weight: 500;
      color: #fff;
      background-color: #008753;
      margin-bottom: 0;
      border-radius: 0;
  }
  .flip-card {
     background-color: #fff;
     height:auto;
     width: 100%;
     padding-right:0%;
     padding-left:0%;
     border: 1px solid #f1f1f1;
     perspective: 1000px;
  }
  .flip-card-inner {
    width: 100%;
    height:100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
  background-color: #008753;
}
  .flip-card-back {
    background: url(static/fds_app/images/logo2.png) no-repeat ;
    background-position: 50% 50%;
    background-size:contain;
    transform: rotateY(180deg);
  }

  .scene {
  width:24.8vw;
  height:100%;
  transform-style:preserve-3d;
  padding-right:0%;
  padding-left:0%;
  transform-style:preserve-3d;
}
.cube {
  width:24.8vw;
  height:100%;
  padding-right:0%;
  padding-left:0%;
  position:relative;
transform-style:preserve-3d;

}

.cube:hover {
  animation:spinning 5s;

}
@keyframes spinning {
  50%  { transform: translateZ(24.8vw) rotateY(0deg) ;   }
50%   { transform: translateZ(24.8vw) rotateY(90deg)  ; }


}
.face {
  width:24.8vw;
  height:100%;
  position:absolute;
}
.front  {
  width:24.8vw;
  height:100%;
  background-color: #fff;
  transform: translateZ(12.4vw)  ; }
.right  {
  width:24.8vw;
  height:100%;
  transform: rotateY(90deg) translateZ(12.4vw) ;
  background-color: #008753;
  background:#008753 url(static/fds_app/images/logo3.png) no-repeat ;
  background-size:contain;
  background-position: 50% 50%; }
.left   {
  width:24.8vw;
  height:100%;
  background-color: #008753;
  background: #008753 url(static/fds_app/images/logo3.png) no-repeat ;
  background-size:contain;
  background-position: 50% 50%;
  transform:rotateY(-90deg)   translateZ(12.4vw) ;
   }
.back   { background-color: #fff;
  width:24.8vw;
  height:100%;
  transform: rotateY(-180deg) translateZ(12.4vw) ; }
.top    { transform: translateZ(10vw) rotateX(90deg) ; }
.bottom { transform: translateZ(10vw) rotateX(-90deg) ; }
.ontainer{
	çolor:#fff;
	margin-left:6%;
	margin-top:8%;
	width:89%;
	 height:auto;
	background: url('static/fds_app/images/Rectangle12.png') no-repeat;
}
@media only screen and (max-width: 768px) {
[class="ontainer"]{
  width:100vw !important;
  margin-left:0%;

}}
{% endblock %}
{% block links %}
<li class="nav-item " style="padding-left: 1%;"><a class="nav-link active" href="/">Home</a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/whoweare">Who we are</a></li>
<li class="nav-item " style=" padding-left: 2%;"><a class="nav-link" href="/wherewestand">Where we stand </a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/takeaction">Take Action</a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/2023elections">2023 Elections</a></li>
<li class="nav-item " style="padding-left: 2%;padding-right: 0%; "><a class="nav-link" href="joiningpolitics">Joining Politics</a></li>

{% endblock %}
{% block title %}FSD{% endblock %}
{% block content %}
<div class="row feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone" style="width: 100%;margin-right: 0%;">
<div class="col-sm-5 ipsGrid_span7 ipsType_left" style="margin-top: 5%;left: 6%;">
    <h5 data-splitting class = "gs_reveal" style="color:#8E8E8E; font-weight:400; ">Federal Social Democrats  </h5>
    <h1 data-splitting class = "gs_reveal" style="font-weight: bold;font-weight: 700;font-size:4vw;color: #008753;margin-top: 0px;">Together, we are building a Nigeria of our dreams</h1>
    <p class = "gs_reveal">Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive change in the economic and social status of African youth through effective programs that delivers sustainable outcome.</p>
    <button type="button" class="btn btn-lg gs_reveal" style="margin-top:10%; margin-left:0%; font-size: 14px; font-weight: 500; line-height: 3; width:40%; border-radius:0;border-çolor:#008753; background:#008753;color:white;">Get involved</button>
    <div class = "gs_reveal" style="width:75%">
      <div class="" style="color: #008753;FONT-WEIGHT: bold;margin-left: 60%; margin-top: -12%;">
        <a href="#" style="font-size: 14px; color: #008753;">Learn More &gt;&gt;</a>
      </div>
    </div>
  </div>
<div class="">

</div>
<div class="image1 col-sm-6 featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight" style="margin-top: 1.5%;margin-bottom: -5%;margin-left: 7.5%;background:url('static/fds_app/images/Vector1.png') no-repeat;margin-right: 0%;background-size:contain;">
  <img style="width:100%;visibility:hidden;height: auto;" src="/static/fds_app/images/Vector1.png">
  </div>
</div>
<div class="layer2" style="position:relative">
  <div class="" style="margin-top: -20%; width:100%">
    <div class="col-sm-11" style="margin-left: 6%;">
      <h4 class = "gs_reveal layer2h4" style="">4,342,905
      <strong class = "gs_reveal" style="vertical-align: super;text-align: left;font-size: 50px;">+</strong></h4>
      <h4 class = "gs_reveal layer2h4b" style="">signed up and still counting</h4>
    </div>
</div>
  </div>

<div class="" style="position:relative">
  <div  class="layer3main row container-fluid ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone"  style="height:20vw">
    <div class="col-sm-3 layer3div flip-card featured-image-container ipsGrid_span3 gs_reveal gs_reveal_fromRight" style="height:20vw">
      <div class="flip-card-inner">
        <div class="flip-card-front ipsGrid_span3 ipsType_left">
          <h4 class = "gs_reveal" style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">128</h4>
          <h4  class = "gs_reveal"style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Chairpersons</h4>
          <p class = "gs_reveal" style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
        </div>
        <div class="flip-card-back">
          </div>
      </div>
    </div>
    <div class="col-sm-3 layer3div featured-image-container ipsGrid_span3 gs_reveal gs_reveal_fromLeft" style="height:20vw">
      <div class="scene">
      <div class="cube">
        <div class="face front">
          <h4 style="color:#008753; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">34</h4>
          <h4 style="color:#008753; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Offices</h4>
          <p style="color:#008753; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
        </div>
        <div class="face right">
<!img class="" style="width:auto;" src="/static/fds_app/images/logo3.png">
        </div>
        <div class="face left">
          <!img class="" style="width:auto;" src="/static/fds_app/images/logo3.png">
        </div>
        <div class="face back">
          <h4 style="color:#008753; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">34</h4>
          <h4 style="color:#008753; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Offices</h4>
          <p style="color:#008753; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
        </div>
          </div>
    </div>
    </div>
    <div class="col-sm-3 layer3div featured-image-container ipsGrid_span3 gs_reveal gs_reveal_fromRight" style="height:auto; background: #3BB54A;">
      <div class="scene">
      <div class="cube">
        <div class="face front " style="background-color:#3BB54A">
      <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">203</h4>
      <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Activities</h4>
      <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
      </div>
      <div class="face right">
      <!img class="" style="width:auto;" src="/static/fds_app/images/logo3.png">
      </div>
      <div class="face left">
        <!img class="" style="width:auto;" src="/static/fds_app/images/logo3.png">
      </div>
      <div class="face back">
        <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">203</h4>
        <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">Activities</h4>
        <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
      </div>
        </div>
  </div>
    </div>
    <div class="col-sm-3 layer3div flip-card featured-image-container ipsGrid_span3 gs_reveal gs_reveal_fromLeft" style="height:auto;">
      <div class="flip-card-inner" >
        <div class="flip-card-front ipsGrid_span3 ipsType_left" style="background: #9E774F;">
          <h4 style="color:#fff; margin-top:18%;margin-bottom:0%;margin-left:20%; font-weight:bold; font-size:43.7px;">36</h4>
         <h4 style="color:#fff; margin-left:22%; margin-top:0%;font-weight:bold; font-size:14px;">States</h4>
         <p style="color:#fff; margin-left:22%; font-weight:400px; font-size:14px; padding-bottom:12%;">We strongly oppose oppression, brutality & intimidation. </p>
    </div>
    <div class="flip-card-back">
      </div>
  </div>
</div></div></div>
<div class="" style="position:relative">
  <div class="row layer4" >
    <div class="col-sm-6 layer4div1 ">
      <div data-scroll class ="photo1" style="">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle2.png">
      </div>
      <div data-scroll class ="photo2" style="">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle3.png">
      </div>
      <div data-scroll class ="photo3" style="">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle5.png">
      </div>
      <div data-scroll class ="photo4" style="">
          <img style="width:100%;visibility:hidden;" src="/static/fds_app/images/Rectangle4.png">
      </div>

    </div>
    <div class="col-sm-4" style="margin-left:0%;margin-top: 5%;padding-left: 0%;">
        <div class="ipsGrid_span7 ipsType_left">
          <h1 data-splitting class = "gs_reveal" style="font-weight:bold; font-size:43.07px; color: #008753;line-height:43.07px; margin-top: 0px;">What have we done with your help</h1>
          <ul style="list-style-position:outside;list-style-image: url('static/fds_app/images/bulletpoint.png');">
            <li>
              <p data-splitting class = "gs_reveal">Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive</p>
           </li>
            <li>
              <p data-splitting class = "gs_reveal">Federal Social Democrats is a non governmental &amp; non-profit organization set up with the sole purpose of contributing positive</p>
                  </li>
          </ul>
          <button type="button" class="btn btn-lg gs_reveal" style="margin-top:10%; margin-left: 5%; font-size: 16px; font-weight: 500; line-height: 1.5; width:40%; border-radius:0;border-çolor:#008753; background:#008753;color:white;">Join Us</button>
          <div class="" style="width:75%">
            <div class="" style="color: #008753;FONT-WEIGHT: bold;margin-left: 60%; margin-top: -12%;">
              <a href="#" style="font-size: 14px; color: #008753;">Learn More &gt;</a>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

<div style="position:relative; margin-top:5%">
  <div class="row container-fluid ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone" style="height:100%; width:100%">
      <div class="col-sm-4 ipsGrid_span3 ipsType_left" style=" margin-left: 5%;" "="">
        <h4 class="gs_reveal" data-splitting style="color:#008753;  font-weight:bold; font-size:14px;">News</h4>
        <h4 class="gs_reveal" data-splitting style="color:#008753; font-weight:bold; font-size:43.07px;">Hear what the majority is saying</h4>
      </div>
      <div class="col-sm-1" style="">
      </div>
      <div class="col-sm-6" style="  margin-left: 1%;  padding-right: 0;">
        <div class="" style="margin-left:85%;">
          <a href="#" style="margin-right: 10%;color:#008753;font-weight:bold;font-size:14px;line-height: 32.59px;">&lt;</a>
          <a href="#" style="color:#008753;margin-left:30%;font-weight:bold;font-size:14px;line-height: 32.59px;">&gt;</a>
        </div>
      </div>
    </div>
</div>

<div style="position:relative; margin-top:5%">
  <div class="row ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone" style="height:100%;width:91%;margin-left:6.3%;overflow: hidden;margin-right: 0;">
    <div class=" col-sm-3 myslides featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight" style="margin-right: 1%;margin-left: 0%;padding-left: 0%;padding-right: 0%;">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle8.png">
      <h4 data-splitting class="gs_reveal" style="line-height: 18px;color:#008753;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 data-splitting  class="gs_reveal" style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a  data-splitting class="gs_reveal" href="#" style="font-size: 14px; margin-left:4%;color: #008753;">Read More &gt;&gt;</a>
    </div>
    <div class="col-sm-3 myslides featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft" style="margin-right: 0%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle9.png">
      <h4 data-splitting class="gs_reveal" style="line-height: 18px;color:#008753;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4  data-splitting class="gs_reveal" style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a data-splitting class="gs_reveal" href="#" style="font-size: 14px; margin-left:4%;color: #008753;">Read More &gt;&gt;</a>

    </div>
    <div class="col-sm-3 myslides featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight" style="margin-right: 0%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle10.png">
      <h4 data-splitting class="gs_reveal" style="line-height: 18px;color:#008753;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4 data-splitting class="gs_reveal" style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a data-splitting class="gs_reveal" href="#" style="font-size: 14px; margin-left:4%;color: #008753;">Read More &gt;&gt;</a>

    </div>
    <div class="col-sm-3 myslides featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight" style="margin-right: -1%;margin-left: 0%;padding-left: 0%;padding-right: 0%;  ">
      <img style="height:auto;width:85%;float:left;margin-bottom: 5%;" src="/static/fds_app/images/Rectangle11.png">
      <h4 data-sclass="gs_reveal" style="line-height: 18px;color:#008753;margin-left:4%;margin-top:3%;font-weight:700px;font-size: 18px;width: 79%">#ENDSSARS - Police brutality is a crime in Nigeria</h4>
      <h4  class="gs_reveal" style="line-height: 18px;color:#8E8E8E;margin-left:4%;font-weight: 500;font-size: 12.5px;width: 78%;">We strongly oppose oppression, brutality &amp; intimidation. We believe a fair and impartial police force is a critical element of a stable society, &amp; that abuse of ...</h4>
      <a class="gs_reveal" href="#" style="font-size: 14px; margin-left:4%;color: #008753;">Read More &gt;&gt;</a>

    </div>
  </div>
</div>

{% endblock %}
