{% extends 'fds_app/base3.html' %}
{% load static %}
{% block title %}FSD | Joining Politics{% endblock %}
{% block style %}
body{
  background-color:#fff;
}

.nav-item{
  padding-right:1%
}
h1,h5,h4, p{
  color:#fff
}
.nav-link.active
{
      font-weight: 500;
      color: #12302e;
      background-color: #fff;
      margin-bottom: 0;
      margin-top: 10px;
      border-radius: 0;
  }
{% endblock%}
{% block links %}
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link " href="/whoweare">Who we are</a></li>
<li class="nav-item " style=" padding-left: 2%;"><a class="nav-link " href="/wherewestand">Where we stand </a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/takeaction">Take Action</a></li>
<li class="nav-item " style="padding-left: 2%;"><a class="nav-link " href="/2023elections">2023 Elections</a></li>
<li class="nav-item " style="padding-left: 2%;padding-right: 0%; "><a class="nav-link active" href="joiningpolitics">Joining Politics</a></li>
{% endblock %}
{% block content %}
<d<div class="">
  <div class="row container" style="margin-top: -18%;margin-left: 15%;">
    <div class="col-sm-5" style="margin-top: 27%;/* display: inline; */">
     <h1 style="margin-left: -20%;font-weight:bold;font-size:5.5vw;text-align:left;margin-top: 0%;margin-bottom: 15%;">How to join Politics</h1>
     <img src="/static/fds_app/images/Group16.png" alt="" style="width: auto; margin-left: -20%;">
     <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">Identify Your Ward</h4>
     <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep1" style="width: auto; margin-left: 69%;cursor: pointer;" onclick="showhideDetails('step1','istep1')">
     <p id="step1" style="display:none;">
       The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
     </p>
     <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
     <div style="margin-top: 10%">
         <img src="/static/fds_app/images/Group17.png" alt="" style="width: auto; margin-left: -20%;">
         <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
         <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
           Make the Choice of Political Party</h4>
        <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep2" style="width: auto; margin-left: 45%;cursor: pointer;" onclick="showhideDetails('step2','istep2')">
         <p id="step2" style="display:none;">
           The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
         </p>
      </div>
      <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
      <div style="margin-top: 10%">
          <img src="/static/fds_app/images/Group18.png" alt="" style="width: auto; margin-left: -20%;">
          <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
          <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
            Get involved in Ward activities</h4>
         <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep3" style="width: auto; margin-left: 50%;cursor: pointer;" onclick="showhideDetails('step3','istep3')">
          <p id="step3" style="display:none;">
            The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
          </p>
       </div>
       <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
       <div style="margin-top: 10%">
           <img src="/static/fds_app/images/Group19.png" alt="" style="width: auto; margin-left: -20%;">
           <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
           <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
             Identify like-minded believers in the party to relate with</h4>
          <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep4" style="width: auto; margin-left: 8%;cursor: pointer;" onclick="showhideDetails('step4','istep4')">
           <p id="step4" style="display:none;">
             The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
           </p>
        </div>
        <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
        <div style="margin-top: 10%">
            <img src="/static/fds_app/images/Group20.png" alt="" style="width: auto; margin-left: -20%;">
            <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
            <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
              Relate Well With The leaders</h4>
           <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep4" style="width: auto; margin-left: 53%;cursor: pointer;" onclick="showhideDetails('step4','istep4')">
            <p id="step4" style="display:none;">
              The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
            </p>
         </div>
         <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
         <div style="margin-top: 10%">
             <img src="/static/fds_app/images/Group21.png" alt="" style="width: auto; margin-left: -20%;">
             <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
             <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
               Volunteer to be part of Campaigns/Party Activities</h4>
            <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep6" style="width: auto; margin-left: 17%;cursor: pointer;" onclick="showhideDetails('step6','istep6')">
             <p id="step6" style="display:none;">
               The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
             </p>
          </div>
          <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
          <div style="margin-top: 10%">
              <img src="/static/fds_app/images/Group22.png" alt="" style="width: auto; margin-left: -20%;">
              <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
              <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
                Pay attention to Political Information</h4>
             <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep7" style="width: auto; margin-left: 39%;cursor: pointer;" onclick="showhideDetails('step7','istep7')">
              <p id="step7" style="display:none;">
                The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
              </p>
           </div>
           <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
           <div style="margin-top: 10%">
               <img src="/static/fds_app/images/Group23.png" alt="" style="width: auto; margin-left: -20%;">
               <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
               <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
                 Get involved in your Community</h4>
              <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep8" style="width: auto; margin-left: 47%;cursor: pointer;" onclick="showhideDetails('step8','istep8')">
               <p id="step8" style="display:none;">
                 The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor.
                 Every politician must compulsorily be a card-carrying member of a political party at the ward level.
                 This however is with the exception of those who choose to contest election as or support independent candidates.
                 Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities.
                 It is also advisable that you also register with INEC as a voter in this ward.
               </p>
            </div>
            <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
            <div style="margin-top: 10%">
                <img src="/static/fds_app/images/Group24.png" alt="" style="width: auto; margin-left: -20%;">
                <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
                <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
                Build character and good name</h4>
               <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep9" style="width: auto; margin-left: 49%;cursor: pointer;" onclick="showhideDetails('step9','istep9')">
                <p id="step9" style="display:none;">
                  The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
                </p>
             </div>
             <div style="border-top: solid #fff 0.1vw;margin-left: -25%;margin-top: 10%;"></div>
             <div style="margin-top: 10%">
                 <img src="/static/fds_app/images/Group25.png" alt="" style="width: auto; margin-left: -20%;">
                 <!-- h5 style="margin-left: -20%;padding: 0.5% 0.5% 0.5% 0.5%;text-align: center;width: 8%;border: solid #fff 0.3vw;border-radius: 50%;/* display: flex; */"-->
                 <h4 style="width: 50%;margin-left: 3%;font-weight:bold;font-size:1.1vw;margin-right: 0%;text-align:left;margin-top: 0%;display: inline;">
                   If you must contest, start small</h4>
                <img src="/static/fds_app/images/Vector5b.png" alt="" id="istep10" style="width: auto; margin-left: 49%;cursor: pointer;" onclick="showhideDetails('step10','istep10')">
                 <p id="step10" style="display:none;">
                   The ward is the smallest unit of Government in Politics. The Political Head of a Ward is called Councilor. Every politician must compulsorily be a card-carrying member of a political party at the ward level. This however is with the exception of those who choose to contest election as or support independent candidates. Your ward is not necessarily your home town but the locality where you will most conveniently carry out your political activities. It is also advisable that you also register with INEC as a voter in this ward.
                 </p>
              </div>


 </div>
  <img style="width:50%;height:auto" src="/static/fds_app/images/Rectangle16.png">
  </div>

</div>
{% endblock %}
