{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <link rel="stylesheet" href="/static/fds_app/css/style.css">
<style >

        {% block style %}{% endblock %}

    </style>
    <style>
nav a{

}
.nav li a {
font-weight: 500;
color: #008753;
margin-bottom: 0;
margin-top:10px;
border-radius: 0;
}

.nav li a:hover{
font-weight: 500;
color: #fff;
background-color:#008753;
margin-bottom: 0;
margin-top:10px;
border-radius: 0;
}
a#nav-link {
font-weight: 500;
color: #fff;
margin-bottom: 0;
margin-top:10px;
border-radius: 0;
}
a#nav-link:hover{
font-weight: 500;
color: #008753;
background-color:#fff;
margin-bottom: 0;
margin-top:10px;
border-radius: 0;
}
.ontainer{
	çolor:#fff;
	margin-left:6%;
	margin-top:8%;
	width:89%;
	 height:auto;
	background: url('static/fds_app/images/Rectangle12.png') no-repeat;
}
@media only screen and (max-width: 768px) {
[class="ontainer"]{
  width:100vw !important;
  margin-left:0%;

}}
   </style>
   <script >
       {% block script %}{% endblock %}
   </script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <nav class="layer1 container-fluid navbar navbar-expand-md"style="padding-bottom: 30%; background:#fff url('static/fds_app/images/image9.png') no-repeat; background-size: cover;">
        <a class="navbar-brand" href="/">
                  <img src="/static/fds_app/images/logo3.png">
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" style="background-color: #fff;" data-target="#collapsibleNavbar" aria-expanded="false" >
                <span class="navbar-toggler-icon ">
    <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
      <path stroke='#008753' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>
    </span></button>
              <div class="collapse navbar-collapse"  id="collapsibleNavbar" style="margin-top: 0vw">
                <ul class="nav navbar-nav navbar-right">
                    {% block links %}{% endblock %}
                </ul>
          </div>


  </nav>

      {% block content %}{% endblock %}

      <div class="">
        <div class="ontainer" >
          <img style="width:20%;height:auto;visibility:hidden;" src="/static/fds_app/images/Rectangle12.png">
          <div class="" style="margin-bottom: 7%;">
            <h1 class="layer7firsth1">Join Our Action!</h1>
            <h1 class="layer72ndh1">Everyone can help</h1>
            <button type="button" class="btn btn-lg layer7btn" ><a href="/signup">Join Us</a></button>
          </div>        </div></div>

      <div class="footer" style="margin-top:2%">
        <nav class="navbar navbar-expand-lg" style="width:100%">

          <footer class="" style="margin-left: 4.5%;width:94%;position:relative;display: flex;align-items: center;color:12302E;">
            <a class="navbar-brand" href="/">
              <img class="" style="height:auto;width:100%;margin-left: 0%;margin-top: auto;" src="/static/fds_app/images/logo2.png">
              </a>
              <ul class="nav navbar-nav " style="margin-left:15%;margin-top: 2%;width:70%;">
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/whoweare">Who we are</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">What we do </a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">News</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">Get involved</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">Joining Politics</a></li>
              </ul>
              <div class="col-sm-2" style="margin-top:2%;">
                 <button type="button" class="btn" style="width: 70%;margin-top:12%; margin-left:20%;line-height: 2.3; border-radius:0;border-çolor:#008753; background:#008753;color:white;"><a href="/signup">Join Us</a></button>
              </div>
            </footer>
          </nav>
        </div>
      <div class="">
    <div class=""  style="margin-top:3%;width:93%;margin-left: 4.5%;">
      <div class="col-sm-8">
        <h4 style="color:#8E8E8E;font-size: 14px;">
          Federal Social Democrats is a non governmental & non-profit organization set up with the sole purpose of contributing positive change in the economic and social status of African youth through effective programs that delivers sustainable outcome.
        </h4>
      </div>
    </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
    </html>
