{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="/static/fds_app/css/style.css">
    <link rel="stylesheet" type="text/css" href="{% static "fds_app/css/blog.css" %}">

    <style >
        {% block style %}{% endblock %}
    </style>
   <script >
       {% block script %}{% endblock %}
     </script>

     <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
<script src="https://unpkg.com/splitting/dist/splitting.js"></script>
<script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <nav class="layer1 container-fluid navbar navbar-expand-md ">
    <a class="navbar-brand" href="/">
              <img src="/static/fds_app/images/logo2.png">
    </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" >
      			<span class="navbar-toggler-icon ">
<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
  <path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>
        </span>

          </button>
          <div class="collapse navbar-collapse " id="collapsibleNavbar" style="margin-top: 0vw">
              <ul class="nav navbar-nav navbar-right">
                {% block links %}{% endblock %}
                </ul>
          </div>
      </nav>

      {% block content %}{% endblock %}
      <div class="">
        <div class="ontainer" style="">
          <img style="width:20%;height:auto;visibility:hidden;" src="{% static 'fds_app/images/Rectangle12.png'%}">
          <div class="" style="margin-bottom: 7%;">
            <h1 class="layer7firsth1">Join Our Action!</h1>
            <h1 class="layer72ndh1">Everyone can help</h1>
            <button type="button" class="btn btn-lg layer7btn" ><a style="color:#008753" href="/signup">Join Us</a></button>
          </div>        </div></div>

      </div>
      <div class="footer" style="margin-top:2%">
        <nav class="navbar navbar-expand-lg" style="width:100%">

          <footer class="" style="margin-left: 4.5%;width:94%;position:relative;display: flex;align-items: center;color:12302e;">
            <a class="navbar-brand" href="/">
              <img class="" style="height:auto;width:100%;margin-left: 0%;margin-top: auto;" src="/static/fds_app/images/logo2.png">
              </a>
              <ul class="nav navbar-nav " style="margin-left:15%;margin-top: 2%;width:70%;">
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="/who we are">Who we are</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">What we do </a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">News</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">Get involved</a></li>
                <li class="nav-item " style="padding-left: 2%;"><a class="nav-link" href="#">Joining Politics</a></li>
              </ul>
              <div class="col-sm-2" style="margin-top:2%;">
                 <button type="button" class="btn" style="width: 70%;margin-top:12%; margin-left:20%;line-height: 2.3; border-radius:0;border-çolor:#fff; background:#008753;color:white;"><a style="color:#fff"href="/signup">Join Us</a></button>
              </div>
            </footer>
          </nav>
        </div>
      <div class="">
    <div class=""  style="margin-top:3%;width:93%;margin-left: 4.5%;">
      <div class="col-sm-8">
        <h4 style="color:#8E8E8E;font-size: 14px;">
          Federal Social Democrats is a non governmental & non-profit organization set up with the sole purpose of contributing positive change in the economic and social status of African youth through effective programs that delivers sustainable outcome.
        </h4>
      </div>
    </div>
  </div>

  <script src=" https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script >
function animateFrom(elem, direction) {
direction = direction | 1;

var x = 0,
    y = direction * 100;
if(elem.classList.contains("gs_reveal_fromLeft")) {
  x = -100;
  y = 0;
} else if(elem.classList.contains("gs_reveal_fromRight")) {
  x = 100;
  y = 0;
}
gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
  duration: 1.25,
  x: 0,
  y: 0,
  autoAlpha: 1,
  ease: "expo",
  overwrite: "auto"
});

gsap.to(elem, {
   duration: 1.25,
   x: 0,
   y: -10,
   autoAlpha: 1,
   ease: "expo",
   overwrite: "auto"
 });
 if(elem.classList.contains("quote")){
 mySplitText = new SplitText(elem, {type:"words,chars"}),
    chars = mySplitText.chars; //an array of all the divs that wrap each character

gsap.set(elem, {perspective: 400});

gsap.from(chars, {duration: 0.8, opacity:0, scale:0, y:80, rotationX:180, transformOrigin:"0% 50% -50",  ease:"back", stagger: 0.01}, "+=0");
}
 Splitting();
 ScrollOut({
   threshhold: 0.5,
   cssProps: {
     visibleY: true
  },
   targets: '[data-scroll]'});
}

function hide(elem) {
gsap.set(elem, {autoAlpha: 0});
}

document.addEventListener("DOMContentLoaded", function() {
gsap.registerPlugin(ScrollTrigger);

gsap.utils.toArray(".gs_reveal").forEach(function(elem) {
  hide(elem); // assure that the element is hidden when scrolled into view

  ScrollTrigger.create({
    trigger: elem,
    onEnter: function() { animateFrom(elem) },
    onEnterBack: function() { animateFrom(elem, -1) },
    onLeave: function() { hide(elem) } // assure that the element is hidden when scrolled into view
  });
});
});

</script>
<script >
$(document).ready(function(){

  $('.customer-logos').slick({
    slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: true,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 2
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 1
            }
        }]
    });

})

// $(".slick-active").mouseenter(function(){
// gsap.to(".slick-active",0.8,{scale:1.5})
// });
// $(".slick-active").mouseleave(function(){
// gsap.to(".slick-active",0.8,{scale:1.5})
// });


  </script>
  </html>
